tqdm
numpy
scipy
numba
smplx
gdown
joblib
pytube==9.5.3
trimesh
pyrender
progress
filterpy
matplotlib
torchvision
scikit-image
scikit-video
pillow==6.2.1
opencv-python
git+https://github.com/mattloper/chumpy.git
git+https://github.com/mkocabas/yolov3-pytorch.git
git+https://github.com/mkocabas/multi-person-tracker.git
